{% block content %}
<header id="header">
    <div class="logo container">
        <div>
            <h1><a href="index.html" id="logo">CM</a></h1>
            <p>CAREER MENTOR</p>
        </div>
    </div>
</header>

<!-- Nav -->
<nav id="nav">
    <ul>
        <li class="current"><a href="/">Home</a></li>								
            
        
        <li><a href="/mentors">Mentors</a></li>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>

{% endblock content %}
